.vs
*.VC.db
*.VC.opendb
Dist/x64
*.log
*.obj
*.lib
*.tlog
.lastbuildstate
unsuccessfulbuild
*.obj
*.lib
*.vcxproj.user
*.dll
*.exp
*.pdb
Wrapper/FreeImagePlus/dist/x64/
Wrapper/FreeImagePlus/x64/
/build